* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/forest.jpg");
    background-size: cover;
}

h1 {
    padding-bottom: 3rem;
    font-family: 'Akronim', cursive;
    font-size: 3.5rem;
    letter-spacing: .6rem;
    text-shadow: 3px 3px 5px rgb(89, 190, 111);
    color: #fff;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.video {
    height: inherit;
    box-shadow: 0 0 8px 3px rgb(89, 190, 111);
}

.speed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 5vw;
    margin-left: 3rem;
    border-radius: 1vw 4vw;
    overflow: hidden;
    box-shadow: 0 0 8px 3px rgb(89, 190, 111);
}

.speed-count {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
}

.speed-bar {
    background-color: rgba(89, 190, 111, .5);
    height: 11%;
}